@use '@/assets/styles/sass/abstracts/variables';

* {
    section {
        button:active {
            filter: brightness(.9);
            transform: scale(.9);
            transition: all 300ms;
            user-select: none;
            cursor: pointer;
        }
    }
    &::selection {
        color: whitesmoke;
        background-color: #2ca981;
    }

    input, select, button, summary {
        &:focus-visible {
            outline: variables.$outline-focus;
        }
    }
}

body {
    background-color: #ece7dd;
}

// Para las notificaciones.
.vue-notification {
    margin: 20px 5px;
}

.vue-notification-group {
    width: fit-content !important;
}

@media screen and (min-width: 750px) {
    .vue-notification {
        font-size: 2em;
    }
}

@media screen and (min-width: 1000px) {
    .vue-notification {
        font-size: 3em;
        
    }
}