* {
    section {
        button:active {
            filter: brightness(.9);
            transform: scale(.9);
            transition: all 300ms;
            user-select: none;
            cursor: pointer;
        }
    }
    &::selection {
        color: whitesmoke;
        background-color: #2ca981;
    }
}

body {
    background-color: #ece7dd;
}

// Para las notificaciones.
.vue-notification {
    margin: 20px 5px;
}