@use '@/assets/styles/sass/abstracts/variables';

@mixin center-flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fixed-extend-banner {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

@mixin expand-box-max {
    width: 100%;
    height: 100%;
    padding: 0;
}

@mixin config-text-dialog-button($color) {
    color: $color;
    font-weight: bold;
    font-size: 1.8rem;
}

@mixin default-details {
    details {
        contain: content;
        background-color: variables.$details-bg-color;
        color: variables.$details-color;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-radius: 25px 0px;
        summary {
            background-color: variables.$summary-bg-color;
            font-size: variables.$summary-font-size;
            font-weight: bold;
            text-align: left;
            padding-left: 1em;
            padding-top: 10px;
            padding-bottom: 8px;
        }
        ul, p {
            margin: 10px 2em;
            font-size: variables.$details-content-font-size;
        }
    }
}