
// Background Colors
$header-bg-color: #0e5161;
$header-bg-color--active: #0b424f;
$menu-bg-color: antiquewhite;
$menu-li-bg-color: #eac786;
$h1-color: #2f686b;
$h2-color: #366580;

//Text Colors
$header-color: whitesmoke;
$header-color--active: white;
$menu-li-color: #30434f;

// Objetive size
$thumb-space: 35px;
$nav-height: 43px;
$page-padding-vertical: 30px;
$header-margin-bottom: 20px;
$h1-margin-bottom: 10px;
$section-margin-bottom: 30px;
$h2-margin-bottom: 10px;
$p-margin-bottom: 7px;
$ul-margin-bottom: 5px;

// Relative size
$icon-height: 60%;
$h1-font-size: 3em;
$h2-font-size: 2em;
$p-font-size: 1.5em;
$ul-font-size: 1.3em;






