@use '@/assets/styles/sass/abstracts/variables';
@use '@/assets/styles/sass/abstracts/mixins';

.add-product {
    display: flex;
    flex-direction: column;
    figure {
        margin: 0 auto;
        img {
            display: block;
        }
    }
    button {
        user-select: none;
        cursor: pointer;
    }
    .add-product__button-take-photo {
        @include mixins.config-text-dialog-button(variables.$button-take-photo--color);
        max-width: 320px;
        padding: 10px;
        background-color: variables.$button-take-photo--bg-color;
        border-radius: 0 0 25px 25px;
        border: none;
    }
    .add-product__box-arrow-buttons {
        display: flex;
        flex-direction: row;
        min-height: 40px;
        margin-top: 20px;
        border-radius: 25px;
        gap: 5px;
        contain: content;
        button {
            @include mixins.center-flexbox;
            @include mixins.config-text-dialog-button(variables.$button-arrow--color);
            flex-basis: 50%;
            flex-grow: 1;
            padding: 10px;
            background-color: variables.$button-arrow--bg-color;
            border: none;
            border-radius: 25px;
        }
        .add-product__box-arrow-buttons--left {
            background-color: variables.$button-arrow-left--bg-color;
        }
    }
}

@media screen and (min-width: 750px) {
    .add-product {
        .add-product__button-take-photo {
            font-size: 2.1rem;
        }
        .add-product__box-arrow-buttons {
            button {
                font-size: 2.1rem;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .add-product {
        .add-product__button-take-photo {
            font-size: 2.4rem;
        }
        .add-product__box-arrow-buttons {
            button {
                font-size: 2.4rem;
            }
        }
    }
}

@media screen and (max-height: 600px) {
    .add-product {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 320px 1fr;
        grid-template-rows: repeat(auto-fit, minmax(180px, 1fr));;
        grid-template-areas:
            "media principal-focus"
            "media buttons";

        figure,
        div:first-child {
            grid-area: media;
        }

        figure {
            display: flex;
            align-items: center;
            justify-content: center;
            height: fit-content;
        }

        button {
            height: fit-content;
        }

        .add-product__button-take-photo {
            grid-area: principal-focus;
            align-self: center;
            border-radius: 25px;
        }
        .add-product__box-arrow-buttons {
            contain: none;
            grid-area: buttons;
            align-self: center;
            align-items: center;
            margin-top: 0;
        }

        .add-product__list,
        .add-product__form {
            grid-area: principal-focus;
            margin: 0;
        }
    }
}