@use '@/assets/styles/sass/abstracts/variables';

.product-table__export-panel {
    display: inline-flex;
    margin: 0 auto;
    margin-bottom: 10px;
    width: fit-content;
    height: fit-content;
    background-color: variables.$export-panel--bg-color;
    padding: 3px 5px;
    font-size: variables.$export-panel--font-size;
    font-weight: bold;
    user-select: none;
    summary {
        color: variables.$export-panel-summary--color;
        line-height: variables.$export-panel-summary--line-height;
        cursor: pointer;
        .product-table__export-panel__name-table {
            color: variables.$export-panel-summary-name--color;
            font-style: oblique;
        }
    }
    button {
        margin-top: 7px;
        min-width: 100%;
        background-color: variables.$export-panel-button--bg-color;
        border: none;
        color: variables.$export-panel-button--color;
        font-size: variables.$export-panel-button--font-size;
        font-weight: bold;
        cursor: pointer;
        &:not(:last-child) {
            margin-top: 7px;
            margin-right: 0px;
        }
    }
}

@media screen and (min-width: 750px) {
    .product-table__export-panel {
        font-size: variables.$export-panel--font-size*1.15;
        summary {
            line-height: variables.$export-panel-summary--line-height*1.15;
        }
    }
}

@media screen and (min-width: 1000px) {
    .product-table__export-panel {
        font-size: variables.$export-panel--font-size*1.3;
        summary {
            line-height: variables.$export-panel-summary--line-height*1.3;
        }
    }
}