@use '@/assets/styles/sass/abstracts/variables';

.page {
    header {
        .page-header--description {
            font-style: italic;
            font-weight: bold;
            color: variables.$page-header-description--color;
        }
    }
}