@use '@/assets/styles/sass/abstracts/variables';

.page {
    section {
        p {
            a {
                color: variables.$link--color;
                &:visited {
                    color: variables.$link-visited--color;
                }
                &:active {
                    color: variables.$link-active--color;
                }
            }
        }
        .page-email {
            color: variables.$page-email--color;
            text-align: center;
        }
    }
}